

@media only screen and (min-device-width : 320px) and (max-device-width : 560px) {
  
  .App {
    text-align: center;
    background-color: rgb(77, 77, 77);
    margin: 0 auto;
    max-width: 560px;
    padding: 0 15px;
    height: 100%;
    width: 95%;
  }


}

@media only screen and (min-width : 560px) {

  .App {
    text-align: center;
    background-color: rgb(150, 150, 150);
    margin: 0 auto;
    max-width: 560px;
    padding: 0 15px;
    height: 100%;
    width: 95%;
  }

}






